@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background: white;
    padding: 20px;
}

.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.logo {
    font-weight: bold;
}